
body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.main-container{
    display: flex;
    height: 100%;
    width: 100vw;
    color: white;
    margin-top: 10px;
}

.left-container,
.right-container {
    display: flex;
    flex-direction: column;
    border: black solid;
    align-items: center;
    height: 100vh;
    width: 50vw;
    margin-top: 5px;
}

.vpr-cast {
    display: flex;
    width: 15em;
    height: auto;
}

.ariana-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
}

.tom-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.2em;
    height: 7.2em;
}

.win-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'oswald', sans-serif;
    font-size: 2em;
}

.center-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
}

.center-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'oswald', sans-serif;
    font-size: 1em;
}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.players-turn-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.game-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    align-self: center;
    padding: 20px;
  }

  .box {
    display: flex;
    justify-content: center;
    background-color: #AC1195;
    align-items: center;
  }

.center-left-grid {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

.center-right-grid {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

.top-center-grid {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.center-center-grid {
    border: 5px solid white;
}

.bottom-center-grid {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.token {
    width: 6em;
    height: 6em;
}

