
body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    color: white;
    margin-top: 10px;
    /* border: black solid; */
}

.left-container,
.right-container{
    display: flex;
    flex-direction: column;
    border: black solid;
    align-items: center;
    height: 100vh;
    width: 50vw;
    margin-top: 5px;
}

.vpr-cast{
    display: flex;
    flex-direction: row;
    width: 15em;
    height: auto;
}

.ariana-symbol-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
}

.tom-symbol-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7.2em;
    height: 7.2em;
}

.ariana-symbol,
.tom-symbol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
}

.win-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'oswald', sans-serif;
    font-size: 2em;
}

.center-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
}


.center-board-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
}

.center-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'oswald', sans-serif;
    font-size: 1em;
}

.header-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.players-turn-statement{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.shuffle-start-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8em;
    font-family: 'oswald', sans-serif;
    font-size: .5em; 
    padding: 5px;
    background-color: #AC1195;
    color: white;

}

.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 0px;
    padding: 20px;
    margin-top: 20px;
    /* border: white solid; */
  }

  .box{
    display: flex;
    justify-content: center;
    padding: 20px;
  }

.center-left{
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

.center-right{
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

.top-center{
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.center-center{
    border: 5px solid white;
}

.bottom-center{
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.hidden {
    display: none!important;
}

.token {
    border: 0px black solid;
    width: 4em;
    height: 4em;
}

